body {
  background-color: #70c1b3;
}
.fontName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.fontDescription {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}
ul:nth-of-type(2) li:nth-of-type(1) {
  font-size: 16px;
  font-weight: 600;
}
ul:nth-of-type(2) li:nth-of-type(2) {
  font-size: 17px;
  font-weight: 600;
}
ul:nth-of-type(2) li:nth-of-type(3) {
  font-size: 18px;
  font-weight: 600;
}
ul:nth-of-type(2) li:nth-of-type(4) {
  font-size: 19px;
  font-weight: 600;
}
ul:nth-of-type(2) li:nth-of-type(5) {
  font-size: 20px;
  font-weight: 600;
}
img {
  top: 90px;
  width: 260px;
  position: absolute;
  left: 30px;
  padding: 10px;
  background-color: #73f5e6;
}
.description {
  top: 40px;
  text-align: left;
  position: relative;
  max-width: 50%;
  left: 365px;
  margin-bottom: 50px;
}
.localbuton {
  position: absolute;
  top: 410px;
  left: 40px;
  padding: 10px;
}
.skills {
  font-style: bolder;
  position: absolute;
  top: 460px;
  left: 40px;
  padding: 10px;
}
.contact {
  width: 220px;
  position: absolute;
  top: 660px;
  left: 40px;
  padding: 10px;
}
.blog {
  position: absolute;
  top: 825px;
  left: 40px;
  padding: 10px;
}
h3 {
  text-align: center;
}
ul li:nth-child(odd) {
  font-style: italic;
  font-family: monospace;
}
.head {
  position: relative;
  margin-bottom: ;
}
li:hover,
p:hover {
  background-color: gray;
}
a:active {
  background-color: azure;
}
div {
  border: 1px solid black;
}
